/*
-0740HRS
MAKE IT RESPONSIVE LATER
CHANGE THE WHOLE CSS
*/

.endGame{
    height: 100vh;
    width: 1355px;
    background: linear-gradient(white 50%, rgb(31, 114, 247) 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    color: #000;
}
.endGameContent{
    background-color: rgb(230, 230, 230);
    width: 300px;
    height: 200px;
    padding: 20px;
    text-align: center;
}

hr{
    border: 2px solid;
}

h2{
    margin-top: 50px;
    font-size: 55px;
}